table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #ddd;
}

td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.green{
    background-color: #7dd994;
}
.red{
    background-color: #d98e7d;
}

input{
    width: 70%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}